services:
    postgres:
        image: postgres:16
        container_name: postgres_db
        restart: unless-stopped

        env_file:
            - .env

        ports:
            - "5432:5432"

        volumes:
            - postgres_data:/var/lib/postgresql/${POSTGRES_USER}

        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
            interval: 5s
            timeout: 5s
            retries: 5

    app:
        build: .
        container_name: challenger-app
        restart: unless-stopped

        env_file:
            - .env

        ports:
            - "8080:8080"

        depends_on:
            postgres:
                condition: service_healthy

volumes:
    postgres_data:
